<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Servicios</h1>
            <table border="2px">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Duración</th>
                        <th>Categoría</th>
                    </tr>
                </thead>
                <tbody>
                    <% servicios.forEach(function(servicio) { %>
                        <tr>
                            <td><%= servicio.nombre %></td>
                            <td><%= servicio.precio %></td>
                            <td><%= servicio.duracionMinutos %></td>
                            <td><%= servicio.categoria %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>